body {background-colour:#F0FFC2;}
 h1 {color:#2FA084;
     text-align: center;
     font-size: 50pt;
     font-weight: bold;
     font-family: sans-serif;
     font-style: italic; 
    }

  p {
   background-color:#9AD872; 
   color:#468432;
   padding: 6px;
   margin: 9,8cm
   text-align: right;
   border: 1px ;
   border-color: #DC9B9B ;
  }

div {
 text-allign: center;
}

a {
 color: #C44545 ; 
}
