<body { background-color:#E8F5BD; }
  
  h1 { style=color:#43637E;
       text-align:center; 
	   font-size:40pt;
	   font-weight: bold;
	   font-family: sans-serif;
	   font-style: italic;
	 }
  
  p { style=color:#A2CB8B;
      background-color:#5B7E3C;
	  padding: 0,6em;
	  margin: auto;
	  margin-bottom: 2em;
	  text-align: right;
	  border: 4px dashed black;
	  width: 50%;
	  min-width: 40em;
  }
  
  .kanan {text-align: right;}
  .kiri {text-align: left;}
  .tengah {text-lign: center;}
  
  .begronijo {background-color: #A4B885;}
  .begronbiru {background-color: #CFEBFF;}
  .begronkuning {background-color: #FFFCE1;}
  
  
  
  div {
	  text-align:center;
  }
  
  a {
	  color:#C44545;
	  text decoration:none;
	  
  }
