body {background-colour:#F0FFC2;}
 h1 {color:#2FA084;
     text-align: center;
     font-size: 50pt;
     font-weight: bold;
     font-family: sans-serif;
     font-style: italic; 
    }

.kanan{text-align: right;}
.kiri{text-align: left;}
.tengah{text-align: center;}

  p {
   background-color:#9AD872; 
   color:#468432;
   padding: 6px;
   margin: auto;
   margin-bottom: bottom; 
   min-weidth: 40cm 
   text-align: right;
   border: 1px ;
   border-color: #DC9B9B ;
   width: 50% ;
  }

div {
 text-allign: center;
}

a {
 color: #C44545 ; 
 text-decoration: none; 
}


